# Python bytecode and build artifacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# Virtual environment
.venv/

.env
*/.env
.gradio/*
# OS-specific files
.DS_Store

# Data and notebooks
data/images/
data/videos/

.lancedb
*/.lancedb
__pycache__

uv.lock